html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #EAEAEA;
}

.main-wrap {
  width: 1260px;
  margin: 0 auto;
}

header {
  background-image: url('../img/header-bg.jpg');
  background-position: 50% 0%;
  width: 100%;
  height: 380px;
  text-align: center;
}

header h1,
header h2,
header p {
  color: #fff;
  margin: 0 auto;
  position: relative;
  text-shadow: 1px 2px 0 rgba(0,0,0,0.1);
}

header h1 {
  font-size: 36px;
  top: 80px;
}

header h2 {
  font-size: 32px;
  top: 80px;
  font-weight: normal;
}

header p {
  font-size: 20px;
  top: 140px;
  width: 60%;
}

.lang-swap {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  text-decoration: underline;
}

.timeslot {
  display: inline-block;
  text-align: right;
  margin-right: 110px;
  position: relative;
  z-index: 100;
}

.time-uxdotgov,
.time-idf {
  top: 50px;
  left: 15px;
}

.time-uxify {
  left: 18px;
}

.timeslot > div {
  margin: 10px 0;
  font-size: 0.85em;
  color: #454545;
}

.timeslot.time-uxify > div {
  margin: 25px 0;
}

.timeslot span {
  font-size: 14px;
  color: #636363;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  line-height: 46px;
  position: relative;
  z-index: 1;
}

.timeslot .time-marker {
  width: 50px;
  height: 50px;
  color: #6bcaea;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  margin-top: 0px;
}

.time-workshop::after,
.time-conf::after,
.time-meetup::after {
  position: absolute;
  left: 60px;
  color: #454545;
  font-size: 14px;
}

.time-workshop::after {
  content: 'Workshop';
}

.time-conf::after {
  content: 'Conference Day';
  line-height: 1.2;
  text-align: left;
  padding-top: 10px;
}

.time-conf.time-seminar::after {
  content: "Seminar";
  line-height: 2;
}

.time-meetup::after {
  content: 'Meetup';
}

html[lang="bg"] .time-workshop::after {
  content: 'Тренинг';
}

html[lang="bg"] .time-conf::after {
  content: 'Конферентен ден';
}

html[lang="bg"] .time-conf.time-seminar::after {
  content: 'Семинар';
}

html[lang="bg"] .time-meetup::after {
  content: 'Среща';
}

.event-blocks {
  display: inline-block;
  position: relative;
}

.event-blocks::before {
  content: '';
  width: 1px;
  height: 100%;
  border-right: 6px dashed #6bcaea;
  position: absolute;
  left: 120px;
}

.event-block {
  background-color: #fff;
  padding: 30px;
  margin-top: 100px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
}

.event-logo {
  height: 170px;
  width: 170px;
  text-align: center;
  border-right: 1px solid #ccc;
  margin-right: 30px;
  padding-right: 30px;
}

.event-logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.event-logo,
.event-info {
  display: inline-block;
  vertical-align: top;
}

.event-info {
  max-width: 60%;
}

.event-info .tags {
  color: #6bcaea;
}

.tags span {
  margin: 0 10px 0 0px;
}

.tags span::before {
  margin-right: 5px;
}

.tags-conf::before {
  content: ' \25CF';
  display: inline-block;
  font-size: 20px;
}

.tags-meetup::before {
  content: ' \25A0';
  display: inline-block;
  font-size: 20px;
}

.tags-workshop::before {
  content: ' \25B2';
  display: inline-block;
}

.event-info h1 {
  margin: 0;
  font-size: 28px;
  color: #454545;
}

.event-logistics {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.event-logistics span {
  font-weight: bold;
  color: #333;
}

.event-desc {
  width: 75%;
  margin-bottom: 0px;
}

.event-go-info {
  background-color: #6bcaea;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s;
}

.event-go-info:hover {
  background-color: #46889f;
}

.event-go-info::after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../img/external.png');
  position: relative;
  bottom: -4px;
}


footer {
  width: 60%;
  text-align: center;
  margin: 100px auto;
  opacity: 0.5;
}

footer a {
  color: #454545;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.grayscale {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
}


/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media (max-width: 1280px) {
  header p {
    width: 65%;
  }
}

@media (max-width: 1279px) {
  header p {
    width: 90%;
    font-size: 18px;
  }

  .main-wrap {
    width: 70%;
  }

  .event-info,
  .event-desc {
    width: 100%;
    max-width: none;
  }

  .event-info {
    margin-top: 30px;
  }

  .event-go-info {
    position: relative;
    margin-top: 20px;
  }

  .event-logo {
    border: none;
    float: right;
    margin: 0;
  }

}

@media (max-width: 785px) {

  .lang-swap {
    position: static;
    width: 100%;
    text-align: center;
  }

  .main-wrap {
    width: 100%;
  }

  .time-uxdotgov, .time-idf {
    top: 0px;
  }

  header {
    height: auto;
    padding: 30px 0;
  }

  header p {
    font-size: 17px;
    margin-top: 20px;
  }

  header h1,
  header h2,
  header p {
    position: static;
  }

  .event-blocks::before {
    left: 50%;
    margin-left: -3px;
  }

  .event-block {
    text-align: center;
  }

  .event-logo {
    display: none;
  }

}
